<div class="container">
    <div class="row">
        <div class="col-md">
            <div class="main_div row">
                <span id="footer-text">The initial circulating supply is set to 70,000.000<br>
                    CreoEngine, 7% of 1,000,000,000 total supply.</span>
                <button class="btn-read">Read Whitepaper</button>
            </div>

        </div>
    </div>
</div>