body{   
    margin:0;
    padding:0; 
    font-family: 'Open Sans' !important;   
}
section{
    position: relative;
    min-height:100vh !important;
    overflow-x: hidden;
    overflow-y:auto;
    background-position: center !important;
    background-size: cover !important;
}
img{
    max-width: 100%;
    max-height: 100%;
}

.white-color{
    color: white;
}


/* ------------------- Search Bar -------------------------*/
.search-bar{
    background-color: white;
    margin-right: 10px;
    margin-top: 10px;
    float: right;
    display: block;
    width: 200px;
    height: 36px;
    border: 2pt solid #CCCCCC;
    padding: 0px 10px;
    border-radius: 50px;
}
.element-search-bar{
    width: 100%;
    height: 100%;
    vertical-align: middle;
}
.search{
    border: none;
    height: 100%;
    width: 100%;
    padding: 0px 5px;
    border-radius: 50px;
    font-size: 9pt;
}

.search:focus{
    outline: none;
}
#icon-search{
    font-size: 26;
    color: #3FA9F5;
}

/*------------------------- Navbar ------------------*/
.navbar-nav > .active > a {
    /* color: #3FA9F5; */
    text-decoration: underline;
    text-decoration-color: #4D4D4D;
}

.btn-connect{
    width: 100%;
    border: none;
    border-radius: 5px;
    background-color: #4975E6;
    color: white;
}

.custom-navbar{
    background-color: white;
}
.custom-toggler .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(84,85,99, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}
.custom-toggler.navbar-toggler {
  border-color: #4D4D4D;
} 
.hr-line{
    margin-top: 4px;
    margin-bottom: 1px;
}
.navbar-brand img{
    max-height:50px;
}

.nav-link{
    color: black;
    font-weight: 300;
}

#market-link{
    color: rgb(84, 51, 255);
}

/* ------------------------- Home ------------------------------*/
.home-container{
    display: flex; justify-content: center; align-items: center;
}
.img-fit{
    float: right;
}
.text-bolder{
    font-weight: 500;
}
.text-main{
    font-size: 190%;
    color:#5481B0;
}
.text-main-2{
    font-size: 190%;
    color: #4D4D4D;
}

/*-----------------------Game-----------------------------------*/

.bg-game{
    background-image: linear-gradient(to bottom,#5470E7,#8956E9);
}

#our-games-text{
    font-size: 2.3rem;
}
.carousel-item-container{
    width: 77%;
    height: 455px;
    justify-content: center;
    display: block;
    border-radius: 20px;
}
#item1{
    background-color: rgba(46, 49, 146,0.8);
}

.game-type-container{
    margin-left: 25px;
    border-radius: 5px;
    background-color: white;
    display: flex;
    justify-content: center;
    width: 60px;
    height: 30px;
}
.game-type2-container{
    margin-left: 25px;
    border-radius: 5px;
    border: 1.5pt solid white;
    display: flex;
    justify-content: center;
    width: 230px;
    height: 35px;
}
.game-type-text{
    font-size: 1.2rem;
    font-weight: 600;
}
#game-text-1{
    color: #4975E6;
}

.game-img-container{
    margin-right: 25px;
    margin-left: 25px;
    width: 85%;
    margin-bottom: 20px;
    margin-top: 20px;
}
#game-desc-text{
    width: 85%;
    color: white;
    margin-left: 25px;
    font-size: 95%;
}
.btn-container{
    margin-left: 25px;
    margin-top: 10px;
    margin-bottom: 10px;
    display: flex;
    flex-direction: row;
}
.btn-fit{
    margin-right: 5px;
    width: 30%;
}
#btn-visit-website{
    margin-left: 25px;
    font-weight: 300;
    font-size: 0.9rem;
    width: 130px;
    background-color: transparent;
    color: white;
    border: 1.5pt solid white;
    border-radius: 5px;
}

/* gallery */ 
.gallery{
    width: 100%;  
}
.gallery-cell {
    counter-increment: none;
    width: 80%;
}
  
.gallery-cell:before {
    display: block;
    text-align: center;
    line-height: 200px;
    font-size: 80px;
    color: white;
}

/* big buttons, no circle */
.flickity-prev-next-button {
    width: 100px;
    height: 100px;
    background: transparent;
  }
  /* hide disabled button */
  .flickity-prev-next-button:disabled {
    display: none;
  }
  
  /* position dots in gallery */
  .flickity-page-dots {
    visibility: hidden;
  }

 /*----------------------- Roadmap------------------------------- */
.bg-roadmap{
    background:url("/public/assets/bg-roadmap.png");
}
.roadmap-container{
    max-height: 100%;
    max-width: 100%;
}
/*draw roadmap timeline*/
.rb-container {
    margin: auto;
    display: block;
    position: relative;
  }
  
  .rb-container ul.rb {
    margin: 2.5em 0;
    padding: 0;
    margin-top: 100px;
    display: inline-block;
  }
  
  .rb-container ul.rb li {
    list-style: none;
    margin: auto;
    margin-left: 20px;
    min-height: 50px;
    border-left: 2pt solid #5481B0;
    padding: 0 0 50px 30px;
    position: relative;
  }
  
  .rb-container ul.rb li:last-child {
    border-left: 0;
  }
  
  .rb-container ul.rb li::before {
    position: absolute;
    left: -16px;
    content: " ";
    border: 8px solid #5481B0;
    border-radius: 500%;
    background: #5481B0;
    height: 30px;
    width: 30px;
    transition: all 500ms ease-in-out;
  }
  
  .rb-container ul.rb li:hover::before {
    border-color: white;
    transition: all 1000ms ease-in-out;
  }
  
  .timestamp {
    color: #5481B0;
    font-weight: bold;
    position: relative;
    width: 100px;
    font-size: 120%;
    font-weight: 700;
  }
  
  .item-title {
      color: #5481B0;
      font-weight: 500;
  }

/*----------------------------Sale------------------------*/
.bg-sale{
    background: url("/public/assets/bg-sale.png");
}

.sale-container{
    display: flex; flex-direction: column; align-items: center; justify-content: center;
}
.seed-sale-container{
    margin: 10px;
    width: 300px;
    height: 300px;
   display: flex;
   flex-direction: column;
   align-items: center;
    border-radius: 15px;
}

#container1{
    background: url("/public/assets/sale-1.png");
    background-size: cover;
}
#container2{
    background-image: linear-gradient(to bottom,rgba(34, 185, 255,0.5),rgba(80, 64, 255,0.5));
    background-size: cover;
}

.seed-sale-box{
    border-radius: 50px;
    border: 1.5pt solid white;
    width: 230px;
    height: 50px;
    display: flex;
    justify-content: center;
}


#s1-text{
    font-size: 1.7rem;
}

#token-price-text{
    font-size: 1.1rem;
    font-weight: 300;
}
.token-desc-text{
    margin-left: -50px;
}
.live-text-container{
  
    margin-top: 25px;
    margin-bottom: 25px;
    background-color: white;
    border-radius: 5px;
    width: 250px;
    height: 30px;
    display: flex;
    justify-content: center;
}

.time-text{
    font-size: 1.2rem;
    font-weight: 500;
    color: #5481B0;
}

/*footer*/
.footer-sale{
    background-image: linear-gradient(to right,#5470E7,#8956E9);
    position: absolute; bottom: 0;
}
#footer-text{
    color: white;
    font-size: 1.2rem;
    font-weight: 300;
}
.main_div {
    height: 150px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.btn-read{
    border-radius: 10px;
    border: 1.1pt solid white;
    background-color: transparent;
    color: white;
    font-size: 1.2rem;
    font-weight: 400;
    height: 45px;
    width: 190px;
}

/*------------------------------Team--------------------------------*/
.team-container{
    height: 500px;
    background-size: cover;
}

.team-text{
    color: black;
    font-weight: 400;
    font-size: 1.1rem;
    
}
#our-team-text{
    font-size: 2.3rem;
    font-weight: 600;
}

.desktop-container{
    table-layout:fixed; width: 100%;
}

#desktop-size-grid-1{
    width: 140px; height: 140px;
}
#desktop-size-grid-2{
    width: 150px; height: 150px;
}
#mobile-size-grid{
    height: 130px; width: 100px;
}
/*-----------------Media Query---------------------*/
@media (max-width: 820px){
    /*---------Home-----------*/
    #home-adjust{
        margin-top: 76px;
    }

    /*---------Game-----------*/
    .btn-fit{
        width: 40%;
    }   
    #game-desc-text{
        font-size: 80%;
    }
    .carousel-item-container{
        width: 100%;
    }
    .gallery-cell{
        width: 100%;
    }
    .img-floating{
        position: static; 
    }
    
    /*--------Sale----------*/
    .footer-sale{
        position: static;
        margin-top: 10px;
    }
    .main_div{
        display: block;
        text-align: center;
    }
    .btn-read{
        margin-top: 5px;
    }
    /* ------ Team -------- */
    .desktop-container {
        visibility: collapse;
    }
    .desktop-text{
        display: none;
    }
    .mobile-text{
        display: inline-block;
    }
    .mobile-container{
        justify-content: center;
        display: flex;
        visibility: visible;
    }
    
}

@media (min-width: 1000px) {
    /*-------Home-------*/
    .home-container{
        width: 100vw;
        height: 100vh;
    }

    /*-------Game-------*/
    .img-floating{
        position: absolute; bottom: 0; width: 40%; height: 40%;       
    }

    /*-------Team-------*/
    .mobile-container {
        visibility: collapse;
    }
    .mobile-text{
        display: none;
    }  
}

/*-----------------Animation---------------------*/
.floating{
    float: inline-end;
    animation-name:Floatingx ;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    -moz-animation-name: Floating;
    -moz-animation-duration: 3s;
    -moz-animation-iteration-count: infinite;
    -moz-animation-timing-function: ease-in-out;
    max-width: 90%;
    max-height: 90%;
}

@keyframes Floatingx{
    from {-webkit-transform:translate(0, 0px);}
    65% {-webkit-transform:translate(0, 15px);}
    to {-webkit-transform: translate(0, -0px);}    
}
    
@keyframes Floating{
    from {-moz-transform:translate(0, 0px);}
    65% {-moz-transform:translate(0, 15px);}
    to {-moz-transform: translate(0, -0px);}    
}
